{% extends "application.html" %} {% block body %}
<p>
    {{ stats.videos }} videos available; {{ stats.queued_items }} queued; {{
    stats.dlq }} failed. <a href="/enqueue">Add more videos</a>
</p>

<h2>Enqueue video</h2>
<form action="/enqueue" method="post">
    <label>
        Video URL:
        <textarea
            name="urls"
            type="text"
            placeholder="https://youtube.com/poop"
            rows="50"
            cols="100"
        ></textarea>
    </label>

    <input type="submit" value="Enqueue" />
</form>
{% endblock %}
